<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${book.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div th:replace="index.html::navbar"></div>
    <div class="row">
        <div class="col-12 card">
            <img class="card-img-top"th:src="${book.getThumb()}">
            <div class="card-body">
                <h5 class="card-title" th:text="${book.getTitle()}"></h5>
                <p class="card-text" th:text="${book.getAuthor()}"></p>
                <hr/>
                <p class="card-text" th:text="${book.getDesc()}"></p>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>